/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 180px;
}
#header {
  background: #fff url('../img/tomat.jpg') no-repeat right;
  height: 144px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 160px;
  background-color: #6BAA42;
  color: #fff;
}
#footer .container {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
}

.text-center {
    text-align: center;
}

/* HEADER */
#logo {
  margin-top: 40px;
}

.navbar-nav {
  margin: 0 auto;
    display: table;
    table-layout: fixed;
    float:none;
}
.navbar-custom {
  background-color: #6BAA42;
  border-color: #e7e7e7;
  margin-bottom: 5px;
}
.navbar-custom .navbar-text {
  color: #fff;
}
.navbar-custom .navbar-nav > li > a {
  color: #fff;
  text-shadow:none;
  padding-left:45px;
  padding-right:45px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-right:1px;
  text-transform: uppercase;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #fff;
  background-color: #77BC49;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #77BC49;
  font-weight:bold;
}

/* CONTENT */
.title {
    color:#017D0B;
}
.content-custom {
  text-align: center;
  border: 1px solid #017D0B;
  padding-left: 20px;
}
.content-custom h1,
.content-custom h2,
.content-custom h3,
.content-custom h4,
.content-custom h5,
.content-custom h6 {
    color:#017D0B;
}

.content-custom .products h3,
.content-custom .products h4 {
  color: #000;
}
.content-custom .products ul {
  text-align: center;

}
.content-custom .products li {
  list-style: none;
  display: inline-block;
  margin: 12px 16px;
  vertical-align: top;
}
.content-custom .products a,
.content-custom .products a:hover,
.content-custom .products a:focus {
    text-decoration: none;
}
.content-custom .products small {
    color: #999999;
}

.content-detail {
  border: 1px solid #017D0B;
  padding: 20px;
}
.content-detail h1,
.content-detail h2,
.content-detail h3,
.content-detail h4,
.content-detail h5,
.content-detail h6 {
    color:#017D0B;
}

.content-detail a.boxer {
    margin-right:8px;
    margin-bottom:8px;
}
.content-detail blockquote {
  font-size: 14px;
}
