/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 275px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 250px;
  background-color: #6BAA42;
  color: #fff;
}
#footer .container {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
}

.text-center {
    text-align: center;
}

/* HEADER */
#logo {
  margin-top: 40px;
}

.navbar-nav {
  margin: 0 auto;
    display: table;
    table-layout: fixed;
    float:none;
}
.navbar-custom {
  background-color: #6BAA42;
  border-color: #e7e7e7;
}
.navbar-custom .navbar-text {
  color: #fff;
}
.navbar-custom .navbar-nav > li > a {
  color: #fff;
  text-shadow:none;
  padding-left:45px;
  padding-right:45px;
  margin-right:1px;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #fff;
  background-color: #77BC49;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #77BC49;
  font-weight:bold;
}

/* CONTENT */
.content-custom {
  text-align: center;
}
.content-custom h1,
.content-custom h2,
.content-custom h3,
.content-custom h4,
.content-custom h5,
.content-custom h6 {
    color:#017D0B;
}
.content-custom .products ul {
  text-align: center;
}
.content-custom .products li {
  list-style: none;
  display: inline-block;
  margin: 12px 16px;
}