/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 180px;
}
.container {
  width: 1170px !important;
}

#header {
  background: #fff url('../img/tomat.jpg') no-repeat right;
  height: 144px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 160px;
  background-color: #6BAA42;
  color: #fff;
  text-align: center;
  min-width: 1170px;
}
#footer ul {
  padding: 20px 0 0 0;
  margin: 0 auto;
  display: table;
  table-layout: fixed;
  float:none;
}
#footer li {
  display: inline-block;
  list-style: none;
  vertical-align: top;
  padding-left: 10px;
  padding-right: 10px;
}
#footer li strong {
  text-align: center;
}

/* HEADER */
#logo {
  margin-top: 40px;
}
.navbar-custom {
  background-color: #6BAA42;
  border-color: #e7e7e7;
  margin-bottom: 5px;
  text-align: center;
  min-width: 1170px;
}
.navbar-custom ul {
  margin: 0;
  padding: 0;
}
.navbar-custom li {
  list-style: none;
  display: inline-block;
  padding: 5px 25px;
}
.navbar-custom li > a {
  color: #fff;
  padding: 7px 25px;
  margin: 0;
  text-decoration: none;
  text-transform: uppercase;
}
.navbar-custom li > a:hover,
.navbar-custom li > a:focus {
  color: #fff;
  background-color: #77BC49;
}
.navbar-custom .active > a,
.navbar-custom .active > a:hover,
.navbar-custom .active > a:focus {
  color: #fff;
  background-color: #77BC49;
  font-weight:bold;
}

/* CONTENT */
.title {
    color:#017D0B;
}
.content-custom {
  text-align: center;
  border: 1px solid #017D0B;
  padding-left: 20px;
}
.content-custom h1,
.content-custom h2,
.content-custom h3,
.content-custom h4,
.content-custom h5,
.content-custom h6 {
    color:#017D0B;
}

.content-custom .products h3,
.content-custom .products h4 {
  color: #000;
}
.content-custom .products ul {
  text-align: center;

}
.content-custom .products li {
  list-style: none;
  display: inline-block;
  margin: 12px 16px;
  vertical-align: top;
}
.content-custom .products a,
.content-custom .products a:hover,
.content-custom .products a:focus {
    text-decoration: none;
}
.content-custom .products small {
    color: #999999;
}

.content-detail {
  border: 1px solid #017D0B;
  padding: 20px;
}
.content-detail h1,
.content-detail h2,
.content-detail h3,
.content-detail h4,
.content-detail h5,
.content-detail h6 {
    color:#017D0B;
}

.content-detail a.boxer {
    margin-right:8px;
    margin-bottom:8px;
}
.content-detail blockquote {
  font-size: 14px;
}
